/* 전체 페이지 스타일 */
body {
  /* 1. body에 기본 폰트, 배경색, 여백 설정 */
  font-family: "Courier New", Courier, monospace;
  background-color: bisque;
  padding: 1rem;
  margin: 0;
}

.container {
  /* 2. 컨테이너의 최대 너비, 가운데 정렬, 여백 설정 */
  max-width: 50vw;
  text-align: center;
  padding: 0;
}

h1 {
  /* 3. 제목 스타일링 (색상, 텍스트 정렬) */
  color: #000;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
}

/* 폼 스타일 */
#todo-form {
  /* 4. 폼 레이아웃 설정 (display: flex 사용) */
  display: flex;
}

#todo-input {
  /* 5. 입력 필드 스타일링 (flex-grow 사용하여 너비 확장) */
  flex-grow: 1;
}

button {
  /* 6. 버튼 스타일링 (배경색, 텍스트 색상, 테두리, 커서) */
  background: #000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* 목록 스타일 */
#todo-list {
  /* 7. 목록의 기본 스타일 제거 및 여백 설정 */
  list-style: none;
  padding: 0;
}

#todo-list li {
  /* 8. 목록 항목 스타일링 (여백, 테두리, 배경색) */
  padding: 1rem;
  border: 5pxs solid #ff0;
  background-color: #ddd;
}

.completed {
  /* 9. 완료된 항목 스타일 (텍스트 색상, 취소선) */
  color: #000;
  text-decoration: line-through;
}

/* 10. 호버 효과 추가 (목록 항목과 버튼) */
#todo-list:hover {
  color: #ffd700;
  transition: all 0.5s;
  font-size: 1.5rem;
}
#todo-form button:hover {
  background-color: #808080;
  color: #000;
  transition: all 0.3s;
}
